<ion-view view-title="Customer Details">
  <ion-content>
    <ion-list class="no-border">
        <div class="item item-divider">
            Basic Info
        </div>
        <ion-item class="item-thumbnail-left item-text-wrap">
        	<img ng-src="{{customerDetail.logo}}">
	        <h2>{{customerDetail.name}}</h2>
	        <p>
	        		<i class="ion-location" ></i>
	        		{{customerDetail.address}}
        	</p>
    	</ion-item>
    </ion-list>
    <div class="item item-divider">
        Contact Person Details
    </div>
     <ion-list class="no-border">
		<ion-item class="item-icon-left">
			<i class="icon ion-person"></i>
			{{customerDetail.contact_person}}
		</ion-item>
		<ion-item class="item-icon-left">
			<i class="icon ion-at"></i>
			<a href="mailto:{{customerDetail.email}}" >{{customerDetail.email}}</a>
		</ion-item>
		<ion-item class="item-icon-left">
			<i class="icon ion-android-call"></i>
			<a href="tel:{{customerDetail.phone}}" >{{customerDetail.phone}} </a>
		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
