<ion-view view-title="Customers">
  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-plus-outline"
        ng-click="addNewCustomer()"></button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
     <ion-item ng-repeat="customer in customers" href="#/app/customer/{{customer.id}}" class="item-thumbnail-left">
        <img ng-src="{{customer.logo}}">
        <h2>{{customer.customer_name}}</h2>
        <p><i class="ion-person" ></i> {{customer.contact_person_name}}</p>
        <p><i class="ion-at" ></i> <a href="mailto:{{customer.email}}" >{{customer.email}}</a></p>
        <p><i class="ion-android-call" ></i> <a href="tel:{{customer.phone}}" >{{customer.phone}} </a></p>
         <ion-option-button class="button-assertive" ng-click="editCustomer(customer)">Edit </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
