<ion-view view-title="Dashboard" class="eventForm">
  <div class="bar bar-subheader">
    <div class="title title-left padding-left " text-uppercase>
      {{financial_year_start_date | date:'MMM-y'}} To {{financial_year_end_date | date:'MMM-y'}}
    </div>
    <button class="button button-icon ion-calendar input-button" ng-click="changeFinancialYear()"></button>
  </div>
  <ion-content class="has-subheader">
  	<div class="row account-widget">
  		<div class="col col-30">
  			 <svg width="140" height="140" aria-label="A chart." style="overflow: hidden;">
                <defs id="defs"></defs>
                <rect x="0" y="0" width="140" height="140" stroke="none" stroke-width="0" fill="#ffffff"></rect>
                <g>
                  <path d="M70,70L26.674934092234324,115.73771599115724A63,63,0,0,1,70,7L70,70A0,0,0,0,0,70,70" stroke="#ffffff" stroke-width="4" fill="#98e6ae">
                  </path>
                </g>
                <g>
                  <path d="M70,70L70,7A63,63,0,1,1,26.674934092234324,115.73771599115724L70,70A0,0,0,1,0,70,70" stroke="#ffffff" stroke-width="4" fill="#f6918a">
                  </path>
                </g>
                <g></g>
                <circle cx="422" cy="70" r="66" fill="#FFFFFF" stroke="none" stroke-width="0"></circle>
              </svg>
        </div>
        <div class="col col-70">
          <div class="list account-list">
            <div class="item item-divider">
              Amount Details
            </div>
            <a class="item" href="#">
                Invoiced 
              <span class="item-note">
                {{invoiced_amount | currency: ' Rs. ' }}
              </span>
            </a>

            <a class="item" href="#">
              Received 
             <span class="item-note">
                {{received_amount | currency: ' Rs. ' }}
              </span>
            </a>
            <a class="item item-highlighted" href="#">
              Outstanding 
              <span class="item-note main-amount">
                {{outstanding_amount | currency: ' Rs. ' }}
              </span>
            </a>
          </div>
  		</div>
  	</div>
    <div class="row eventTab">
        <div class="col col-50">
          <a href="#/app/invoice">
            <div class="tabtext" ng-click="">
              <div class="icon"><i class="ion-ios-list"></i></div>
              <h3>Invoices</h3>
              <p>{{dashboardData.invoice_count}}</p>
            </div>
          </a>
        </div>
        <div class="col col-50">
          <a href="#/app/customer">
            <div class="tabtext" ng-click="">
              <div class="icon"><i class="ion-ios-people"></i></div>
              <h3>Customers</h3>
              <p>{{dashboardData.customer_count}}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row eventTab">
        <div class="col col-50">
          <a href="#/app/employee">
            <div class="tabtext" ng-click="">
              <div class="icon"><i class="ion-ios-person"></i></div>
              <h3>Employees</h3>
              <p>{{dashboardData.employee_count}}</p>
            </div>
          </a>
        </div>
        <div class="col col-50">
          <a href="#/app/taxation">
            <div class="tabtext" ng-click="">
              <div class="icon"><i class="ion-cash"></i></div>
              <h3>Taxation</h3>
              <p>{{dashboardData.tax_payments}}</p>
            </div>
          </a>
        </div>
      </div>
    <!--
    <div class="row">
        <div class="col">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{dashboardData.customer_count}}</h3>
              <p class="box-title">Customers</p>
            </div>
            <div class="icon">
              <i class="ion-ios-paper"></i>
            </div>
            <a href="#/app/customer" class="small-box-footer">More info <i class="ion-android-arrow-forward"></i></a>
          </div>
        </div>

        <div class="col">
            <div class="small-box bg-green">
              <div class="inner">
                <h3>{{dashboardData.invoice_count}}</h3>
                <p class="box-title">Invoices</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-paper"></i>
              </div>
              <a href="#/app/invoice" class="small-box-footer">More info <i class="ion-android-arrow-forward"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{dashboardData.employee_count}}</h3>
              <p class="box-title">Employees</p>
            </div>
            <div class="icon">
              <i class="ion-ios-person"></i>
            </div>
            <a href="#/app/employee" class="small-box-footer">More info <i class="ion-android-arrow-forward"></i></a>
          </div>
        </div>

        <div class="col">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{dashboardData.tax_payments}}</h3>
                <p class="box-title">Tax Payments</p>
              </div>
              <div class="icon">
                <i class="ion ion-cash"></i>
              </div>
              <a href="#/app/taxation" class="small-box-footer">More info <i class="ion-android-arrow-forward"></i></a>
            </div>
        </div>
    </div>
    -->
  </ion-content>
</ion-view>
