<ion-view view-title="Taxation">
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-plus-outline" ng-click="addNewTaxDetails()"></button>
        </div>
    </ion-nav-buttons>
    <ion-content class="taxationList">
        <div class="card" ng-repeat="taxDetails in taxationList | orderBy:'-paid_on'" href="#/app/taxation/{{taxDetails.id}}">
            <div class="item item-divider item-header assertive">
                {{taxDetails.from_date | date:'MMM-y'}} To {{taxDetails.to_date | date:'MMM-y'}}
                <button class="button button-small button-assertive item-right" ng-click="editTaxDetails(taxDetails)">
                    <i class="icon ion-ios-compose"></i>  Edit
                </button>
            </div>
            <div class="item item-text-wrap">
                <ion-list class="card-item-list">
                    <ion-item>
                        <b>Invoice No.</b>
                        <span class="item-note">From <b>{{taxDetails.bill_from}}</b> To <b>{{taxDetails.bill_to}}</b></span>
                    </ion-item>
                    <ion-item>
                        <b>Invoice Amount</b>
                        <span class="item-note">{{taxDetails.bill_amount | currency: ' Rs. '}}</span>
                    </ion-item>
                    <ion-item>
                        <b>Tax Details</b>
                        <span class="item-note">{{taxDetails.tax_details}}</span>
                    </ion-item>
                    <ion-item>
                        <b>Tax Amount </b>
                        <span class="item-note">{{taxDetails.tax_amount | currency: ' Rs. '}}</span>
                    </ion-item>
                    <ion-item>
                        <b>Paid On </b>
                        <span class="item-note">{{taxDetails.paid_on | date:"dd-MMM-yyyy"}}</span>
                    </ion-item>
                    <ion-item>
                        <b>Attachment</b>
                        <span class="item-note"><a ng-href="{{TAXATION_DOCS_URL+taxDetails.attachment}}" > View</a></span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>