<ion-view view-title="Year Summary">
    <div class="bar bar-subheader">
        <button class="button button-positive ion-chevron-left button-clear no-animation" ng-click="previous()">
        </button>
        <div class="title " text-uppercase="">
            {{financial_year_title}}
        </div>
        <button class="button button-positive ion-chevron-right button-clear no-animation" ng-click="next()">
        </button>
    </div>
    <ion-content class="has-subheader" scroll="false">
        <ion-slide-box class="year-slider" on-slide-changed="slideChanged(index)">
            <ion-slide style="text-align:center;">
                <h3>Thank you for choosing the Awesome App!</h3>
                <div id="logo">
                    <img src="http://code.ionicframework.com/assets/img/app_icon.png">
                </div>
                <p>
                    We've worked super hard to make you happy.
                </p>
                <p>
                    But if you are angry, too bad.
                </p>
            </ion-slide>
            <ion-slide style="text-align:center;">
                <h3>Using Awesome</h3>
                <div id="list">
                    <h5>Just three steps:</h5>
                    <ol>
                        <li>Be awesome</li>
                        <li>Stay awesome</li>
                        <li>There is no step 3</li>
                    </ol>
                </div>
            </ion-slide>
            <ion-slide style="text-align:center;">
                <h3>Any questions?</h3>
                <p>
                    Too bad!
                </p>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>